{
    "reporter": [
        "html",
        "lcov"

    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "packages/*/src/**/*.ts",
        "src/*/src/**/*.tsx"
    ],
    "all": true,
    "sourceMaps": true,
    "exclude": [
        "**/*.d.ts",
        "**/*.exp.js",
        "**/*.spec.ts"
    ],
    "require": [
        "./spec/support/init.js"
    ]
}
