{
    "reporter": [
        "html"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "dist/spec/**/*.js"
    ],
    "all": true,
    "instrument": true,
    "sourceMaps": false,
    "exclude": [
        "**/*.d.ts",
        "**/*.exp.js"
    ]
}
