.controls {
    background-color: #222;
    font-size: 1.25em;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.control-icons {
    padding: 4px 12px;
}
.control-icon {
    padding: 8px;
}