.progress-bar-container {
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
}
.progress-bar {
    position: absolute;
    top: 9px;
    height: 4px;
    background-color: red;
    transition: transform 150ms ease-in;
    transform: scaleY(0.6);
}
.progress-bar-container:hover .progress-bar {
    transform: scaleY(1);
}