header {
    padding: 12px;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
}
header .date {
    margin-left: 16px;
}
header .url {
    margin-left: auto;
    font-size: 1.5rem;
}